.jp-holder {
	margin: 15px 0;
	text-align: center
}

.jp-holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
}

.jp-holder a:hover {
	background-color: #222;
	color: #fff;
}

.jp-holder a.jp-previous { margin-right: 15px; }
.jp-holder a.jp-next { margin-left: 15px; }

.jp-holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.jp-holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.jp-holder a.jp-current, a.jp-current:hover,
.jp-holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.jp-holder span { margin: 0 5px; }